h1 Picks for #{user.full_name}
form(method='post',action='/picks')
  input(type='hidden',name='entry[week]',value=week.number)
  #picks
    h2 Week #{week.number}
    table.table
      thead
        tr
          th Favorite
          th Spread
          th Opponent
      tbody
        each game,i in week.games
          tr
            td
              label.radio= teamName(game.team_favorite,game.is_favorite_home)
                input.radio(type='radio',value=game.team_favorite,name='entry[teams]['+i+']')
            td.spread= game.spread
            td
              label.radio= teamName(game.team_opponent,!game.is_favorite_home)
                input.radio(type='radio',value=game.team_opponent,name='entry[teams]['+i+']')
  #tiebreaker
    h2 Tie Breaker
    table.table
      thead
        tr
          th Favorite
          th Score
          th Spread
          th Score
          th Opponent
      tbody
        tr
          td.team= week.tiebreaker_favorite
          td.score: input.span1(type='text',name='entry[tiebreaker_favorite]')
          td.spread= week.tiebreaker_spread
          td.score: input.span1(type='text',name='entry[tiebreaker_opponent]')
          td.team= week.tiebreaker_opponent
  input.btn(type='submit',value='Submit')
