h1 Picks for #{user.full_name}
#picks
  h2 Week 13
  table(class='table')
    thead
      tr
        th Pick
        th Spread
    tbody
      each game,i in week.games
        tr
          td
            .btn-group(data-toggle='buttons-radio')
              button.btn.btn-warning= game.team_favorite
              button.btn.btn.inverse.disabled= 'by ' + game.spread + ' over'
              button.btn.btn-warning= game.team_opponent
          td.spread= game.spread
#tiebreaker
  h2 Tie Breaker
  table.table
    thead
      tr
        th Favorite
        th Score
        th Spread
        th Score
        th Opponent
    tbody
        tr
          - var tiebreaker = week.tiebreaker;
          td.team= tiebreaker.team_favorite
          td.score: input.span1(type:'text')
          td.spread= tiebreaker.spread
          td.score: input.span1(type:'text')
          td.team= tiebreaker.team_opponent

