h1 User Picks for #{user.full_name}
#picks
  h2 Week 13
  table(class='table')
    thead
      tr
        th Game
        th Favorite
        th Spread
        th Opponent
    tbody
      each game,i in week.games
        tr
          td.game_id= i + 1
          td.team: input(type='radio',name='game'+i,value=game.team_favorite)
          td.spread= game.spread
          td.team: input(type='radio',name='game'+i,value=game.team_opponent)
#tiebreaker
  h2 Tie Breaker
  table.table
    thead
      tr
        th Favorite
        th Score
        th Spread
        th Score
        th Opponent
    tbody
        tr
          - var tiebreaker = week.tiebreaker;
          td.team= tiebreaker.team_favorite
          td.score: input.span1(type:'text')
          td.spread= tiebreaker.spread
          td.score: input.span1(type:'text')
          td.team= tiebreaker.team_opponent

