h1 Results
#results
  //ul.nav
    each user in users
      li= user.full_name
        ul.nav.nav-tabs
          each week,w in weeks
            entry = entryForWeek(user, week.number)
            if (entry)
              li Week #{w+1}: #{entry.score_result}
            else
              li Week #{w+1}: -
          li YTD Score: #{user.score_total}
  table.table
    thead
      tr
        th User
        each week in weeks
          th= week.number
        th YTD Score
    tbody
      each user in users
        tr
          td= user.full_name
          each week in weeks
            entry = entryForWeek(user, week.number)
            if (entry)
              td= entry.score_result
            else
              td -
          td= user.score_total
