h1 Score Week #{week.number}
form(method='post',action='/score')
  table.table
    thead
      tr
        th Favorite
        th Favorite Score
        th Opponent Score
        th Opponent
    tbody
      each game,i in week.games
        tr
          td= teamName(game.teamFavorite,game.isFavoriteHome)
          td: input.span1(type='number',name='scores[favorite]['+i+']')
          td: input.span1(type='number',name='scores[opponent]['+i+']')
          td= teamName(game.teamOpponent,!game.isFavoriteHome)
  h2 Tie Breaker
  table.table
    thead
      tr
        th Favorite
        th Favorite Score
        th Opponent Score
        th Opponent
    tbody
      tr
        td.team= week.tiebreakerFavorite
        td.score: input.span1(type='number',name='scores[tiebreakerFavorite]')
        td.score: input.span1(type='number',name='scores[tiebreakerOpponent]')
        td.team= week.tiebreakerOpponent
  input.btn(type='submit',value='Submit')
