h1= title
h2 Create week #{weekSize + 1}
form(method='post')
  table.table.table-condensed
    thead
      tr
        th Game
        th Favorite
        th Spread
        th Opponent
        th Home Favorite
    tbody
      - for (var i = 1; i<11; i++) {
        tr
          td= i
          td
            input.span2(type='text',name='week[teamFavorite]')
          td
            input.span1(type='number',name='week[spread]')
          td
            input.span2(type='text',name='week[teamOpponent]')
          td
            input(type='checkbox', name='week[homeTeam]', value=i)
      - }

  table.table.table-condensed
    thead
      tr
        th Tiebreaker
      tr
        th Favorite
        th Spread
        th Opponent
        th Home Favorite
    tbody
      tr
        td
          input.span2(type='text',name='week[tiebreakerFavorite]')
        td
          input.span1(type='nubmber',name='week[tiebreakerSpread]')
        td
          input.span2(type='text',name='week[tiebreakerOpponent]')
        td
          input(type='checkbox', name='week[tiebreakerHomeFavorite]', value=true)

  input(type='hidden',name='week[number]',value=weekSize + 1)
  input.btn(type='submit',value='Submit')
